absl-py==2.1.0
accelerate==0.19.0
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
azure-core==1.30.2
azure-identity==1.16.0
azure-storage-blob==12.20.0
Babel==2.15.0
beautifulsoup4==4.12.3
better-apidoc==0.3.1
biopython==1.83
black==22.3.0
bleach==6.1.0
blosc2==2.6.2
boto3==1.34.123
botocore==1.34.123
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cachetools==5.3.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
cffi==1.16.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
comm==0.2.2
contourpy==1.2.1
coverage==7.5.3
cryptography==42.0.8
cycler==0.12.1
Cython==3.0.10
dacite==1.8.1
datasets==2.19.2
debugpy==1.8.1
decorator==5.1.1
deepchem==2.8.0
defusedxml==0.7.1
diffusers==0.6.0
dill==0.3.8
diskcache==5.6.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.17.1
dpu-utils==0.6.1
exceptiongroup==1.2.1
executing==2.0.1
fair-esm==2.0.0
fastjsonschema==2.19.1
fastprogress==1.0.3
fcd==1.2.2
filelock==3.14.0
flake8==3.8.4
Flask==1.1.2
Flask-Login==0.5.0
flatbuffers==24.3.25
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
fuzzywuzzy==0.18.0
gast==0.4.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.30.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.64.1
-e git+https://github.com/GT4SD/gt4sd-core.git@daae05b8846563501c4a10245ec3bfa7c1982e47#egg=gt4sd&subdirectory=../../../../../wizard_hat/conditional_plm/src/gt4sd-core
gt4sd-molformer==0.1.3
gt4sd-trainer-hf-pl==0.0.3
guacamol==0.5.5
guacamol_baselines @ git+https://github.com/GT4SD/guacamol_baselines.git@d99df1883ad980e78ffa9e97cafa3f6b28cc9ae7
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
imagesize==1.4.1
importlib-metadata==4.13.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipaddress==1.0.23
ipykernel==6.22.0
ipython==8.25.0
ipywidgets==8.1.3
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keras==2.10.0
Keras-Preprocessing==1.1.2
keybert==0.8.4
kiwisolver==1.4.5
latexcodec==3.0.0
libclang==18.1.1
licenseheaders==0.8.8
lmdb==1.4.1
loguru==0.7.2
lxml==5.2.2
Markdown==3.6
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mccabe==0.6.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
minio==7.0.1
mistune==3.0.2
modlamp==4.3.0
molecule_generation @ git+https://github.com/GT4SD/molecule-generation@120a829056a0c44622a76683cace87053999b103
molgx==0.22.0a1
monty==2024.5.24
more-itertools==10.3.0
moses @ git+https://github.com/GT4SD/moses.git@989f5f2a8cd6d6f7120821fa5687fcaffdca485b
mpmath==1.3.0
msal==1.28.0
msal-extensions==1.1.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mypy==1.10.0
mypy-extensions==1.0.0
mysql-connector-python==8.0.17
myst-parser==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.8
nest-asyncio==1.6.0
networkx==3.3
nglview==3.1.2
ninja==1.11.1.1
nltk==3.8.1
nose==1.3.7
notebook==7.2.1
notebook_shim==0.2.4
numexpr==2.10.0
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
overrides==7.7.0
paccmann_chemistry @ git+https://github.com/PaccMann/paccmann_chemistry@1a47ece2ab35948dce63afc7d4297f4e83ea70d6
paccmann_generator @ git+https://github.com/PaccMann/paccmann_generator@7d544764c426736facddb6a233f4c886e9b3df31
paccmann_gp @ git+https://github.com/PaccMann/paccmann_gp@ee37d6a85faf5199c80a31348f09d682ce0e417d
paccmann_omics @ git+https://github.com/PaccMann/paccmann_omics@ae11aac25114d60226a654a29646b4a0ce477a6d
paccmann_predictor @ git+https://github.com/PaccMann/paccmann_predictor@d48399b8882f2625ff49af105f50f41cd066dc22
packaging==24.1
palettable==3.3.3
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1675487172403/work
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
portalocker==2.8.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==3.19.6
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyaml==24.4.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybtex==0.24.0
pycodestyle==2.6.0
pycparser==2.22
pydantic==1.10.15
pyDeprecate==0.3.2
pyflakes==2.2.0
Pygments==2.18.0
PyJWT==2.8.0
pymatgen==2023.9.25
pyparsing==3.1.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
PyTDC==0.3.7
pytest==6.2.5
pytest-cov==2.10.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytoda @ git+https://github.com/PaccMann/paccmann_datasets@72ad890ba50af67817c0bec6f9fd812c1f91e9a6
pytorch-fast-transformers==0.4.0
pytorch-lightning==1.7.7
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
rdkit==2023.9.6
rdkit-pypi==2021.9.4
rdkit-stubs==0.7
referencing==0.35.1
regex==2024.5.15
reinvent-chemistry==0.0.38
reinvent_models @ git+https://github.com/GT4SD/reinvent_models@6eb81f2be468eecca7e63996618aa9307d9d8319
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
sacremoses==0.1.1
scikit-learn==1.2.2
scikit-optimize==0.10.2
scipy==1.10.1
seaborn==0.13.2
selfies==0.2.4
Send2Trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.2.0
sentry-sdk==2.5.1
setproctitle==1.3.3
SetSimilaritySearch==1.0.1
six==1.16.0
smart-open==7.0.4
SmilesPE==0.0.3
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
spglib==2.4.0
Sphinx==5.3.0
sphinx-autodoc-typehints==1.11.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
sympy==1.12.1
tables==3.9.2
tabulate==0.9.0
tape-proteins==0.5
tenacity==8.3.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
-e git+https://github.com/BigHat-Biosciences/regression-transformer.git@d8c103cd24e445e563fe8e78ff9587db3f387ea3#egg=terminator&subdirectory=../../../../wizard_hat/conditional_plm/src/rt
tf2-gnn==2.14.0
threadpoolctl==3.5.0
tinycss2==1.3.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==1.12.1+cu116
torch-scatter==2.0.9
torch_cluster==1.6.0
torch_geometric==2.0.4
torch_sparse==0.6.15
torchaudio==0.12.1
torchdrug==0.2.1
torchmetrics==0.11.4
torchvision==0.13.1+cu116
tornado==6.4.1
toxsmi @ git+https://git@github.com/PaccMann/toxsmi@00a4c61fe2fec4551ae40ddd00a3e20e14959c85
tqdm==4.66.4
traitlets==5.14.3
transformers==4.24.0
types-python-dateutil==2.9.0.20240316
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.1
uncertainties==3.2.1
upfp==0.0.5
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
wandb==0.17.1
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
xgboost==2.0.3
xxhash==3.4.1
yarl==1.9.4
zipp==3.19.2
